<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paulo Reis | Currículo</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="../css/cv_style.css">
</head>
<body>
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="../index.html" class="nav__logo">Paulo Reis</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="bx bx-home nav__icon"></i>Início
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#profile" class="nav__link">
                            <i class="bx bx-user nav__icon"></i>Perfil
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#education" class="nav__link">
                            <i class="bx bx-book nav__icon"></i>Educação
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class="bx bx-receipt nav__icon"></i>Skills
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#experience" class="nav__link">
                            <i class="bx bx-briefcase-alt nav__icon"></i>Experiência
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#certificates" class="nav__link">
                            <i class="bx bx-award nav__icon"></i>Certificados
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#references" class="nav__link">
                            <i class="bx bx-link-external nav__icon"></i>Referências
                        </a>
                    </li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-grid-alt"></i>
            </div>
        </nav>

    </header>


    <main class="l-main bd-container">
        <!-- All elements within this div, is generated in PDF -->
        <div class="resume" id="area-cv">
            <div class="resume__left">
                <!--========== HOME ==========-->
                <section class="home" id="home">
                    <div class="home_container section bd-grid">
                        <div class="home__data bd-grid">
                            <img src="../images/home/me.jpg" alt="" class="home__img">

                            <h1 class="home__title">Paulo <b>Reis</b></h1>
                            <h3 class="home__profession">Data Scientist</h3>

                            <!-- Button to generate and download the pdf. Available for desktop. -->
                            <div>
                                <a download="" href="../files/currículo.pdf" class="home__button-movil">Download</a>
                            </div>

                            <div class="home__address bd-grid">
                                <span class="home__information">
                                    <i class="bx bx-map home__icon"></i> Recife, PE.
                                </span>
                                <span class="home__information">
                                    <i class="bx bx-envelope home__icon"></i> pauloreis.datascience@gmail.com
                                </span>
                                <!--
                                <span class="home__information">
                                    <i class="bx bx-phone home__icon"></i> Phone
                                </span>
                                -->
                            </div>

                        </div>
                    </div>

                    <!-- Theme change button -->



                </section>


                <!--========== SOCIAL ==========-->
                <section class="social section">

                </section>


                <!--========== PROFILE ==========-->
                <section class="profile section" id="profile">

                </section>


                <!--========== EDUCATION ==========-->
                <section class="education section" id="education">

                </section>


                <!--========== SKILLS  ==========-->
                <section class="skills section" id="skills">

                </section>

            </div>


            <div class="resume__right">
                <!--========== EXPERIENCE ==========-->
                <section class="experience section" id="experience">

                </section>


                <!--========== CERTIFICATES ==========-->
                <section class="certificate section" id="certificates">

                </section>


                <!--========== REFERENCES ==========-->
                <section class="references section" id="references">

                </section>


                <!--========== LANGUAGES ==========-->
                <section class="languages section">

                </section>


                <!--========== INTERESTS ==========-->
                <section class="interests section">

                </section>
            </div>
        </div>
    </main>






    <script src="../js/cv_js.js"></script>
</body>
</html>