<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paulo Reis | Resume</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="../css/cv_style.css">
</head>
<body>
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="../index_en.html" class="nav__logo">Paulo Reis</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="bx bx-home nav__icon"></i>Home
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#profile" class="nav__link">
                            <i class="bx bx-user nav__icon"></i>Profile
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#education" class="nav__link">
                            <i class="bx bx-book nav__icon"></i>Education
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class="bx bx-receipt nav__icon"></i>Skills
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#experience" class="nav__link">
                            <i class="bx bx-briefcase-alt nav__icon"></i>Experience
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#certificates" class="nav__link">
                            <i class="bx bx-award nav__icon"></i>Certificates
                        </a>
                    </li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-grid-alt"></i>
            </div>
        </nav>

    </header>


    <main class="l-main bd-container">
        <!-- All elements within this div, is generated in PDF -->
        <div class="resume" id="area-cv">
            <div class="resume__left">
                <!--========== HOME ==========-->
                <section class="home" id="home">
                    <div class="home_container section bd-grid">
                        <div class="home__data bd-grid">
                            <img src="../images/home/me2.jpg" alt="" class="home__img">

                            <h1 class="home__title"><a href="../index_en.html"><b>Paulo Reis</b></a></h1>
                            <h3 class="home__profession">Data Scientist</h3>

                            <!-- Button to generate and download the pdf. Available for desktop. -->
                            <div>
                                <a download="../files/PauloReisResume.pdf" href="../files/PauloReisResume.pdf"
                                   class="home__button-movil">Download</a>
                            </div>

                            <div class="home__address bd-grid">
                                <span class="home__information">
                                    <i class="bx bx-map home__icon"></i> Recife, PE.
                                </span>
                                <span class="home__information">
                                    <i class="bx bx-envelope home__icon"></i> pauloreis.datascience@gmail.com
                                </span>
                                <!--
                                <span class="home__information">
                                    <i class="bx bx-phone home__icon"></i> Phone
                                </span>
                                -->
                            </div>

                        </div>
                    </div>

                    <!-- Theme change button -->
                    <i class="bx bx-moon change-theme" title="Theme" id="theme-button"></i>

                    <!-- Download Desktop Version -->
                    <a download="../files/PauloReisResume.pdf" href="../files/PauloReisResume.pdf">
                        <i class="bx bx-download generate-pdf" title="Baixar PDF" id="resume-button"></i>
                    </a>


                </section>


                <!--========== SOCIAL ==========-->
                <section class="social section">
                    <h2 class="section-title">Social</h2>

                    <div class="social__container bd-grid">
                        <a href="https://www.linkedin.com/in/pauloreis-ds/" target="_blank" class="social__link">
                            <i class="bx bxl-linkedin-square social__icon"></i> @pauloreis-ds
                        </a>
                        <a href="https://www.instagram.com/pauloreis.py/" target="_blank" class="social__link">
                            <i class="bx bxl-instagram-alt social__icon"></i> @pauloreis.py
                        </a>
                        <a href="https://github.com/pauloreis-ds" target="_blank" class="social__link">
                            <i class="bx bxl-github social__icon"></i> @pauloreis-ds
                        </a>
                    </div>
                </section>


                <!--========== PROFILE ==========-->
                <section class="profile section" id="profile">
                    <h2 class="section-title">Profile</h2>

                    <p class="profile__description">
                            Passionate about Data Science, I find it amazing how data science techniques connect with
                        business goals. That's why I'm always proactively looking for new challenges, as well as the
                        solutions that data science tools offer to increase companies' earnings.
                    </p>
                </section>




                <!--========== SKILLS  ==========-->
                <section class="skills section" id="skills">
                    <h2 class="section-title">Skills</h2>

                    <div class="skills__content bd-grid">
                        <ul class="skills__data">
                            <li class="skills__name">
                                <h3>Skilled</h3>
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> Data Analysis
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> Machine Learning
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> Data Visualization
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> Python
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> PostgresSQL
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> Git/Github
                            </li>
                        </ul>

                        <ul class="skills__data">
                            <li class="skills__name">
                                <h3>Familiar</h3>
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> WebScraping
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> PySpark
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> Power BI
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> MongoDB
                            </li>
                            <li class="skills__name">
                                <span class="skills__circle"></span> Docker
                            </li>
                        </ul>
                    </div>

                </section>

            </div>


            <div class="resume__right">

                <!--========== EDUCATION ==========-->
                <section class="education section" id="education">
                    <h2 class="section-title">Education</h2>

                    <!--
                        <div class="education__content">
                            <div class="education__time">
                                <span class="education__rounder"></span>
                                <span class="education__line"></span>
                            </div>
                            <div class="education__data bd-grid">
                                <h3 class="education__title">Pós</h3>
                                <span class="education__studies">UniCesumar</span>
                                <span class="education__year">2023 - 2025</span>
                            </div>
                        </div>-->

                    <div class="education__container bd-grid">
                        <div class="education__content">
                            <div class="education__time">
                                <span class="education__rounder"></span>
<!--                                <span class="education__line"></span>   UNCOMMENT WHEN YOU GET A NEW DEGREE-->
                            </div>
                            <div class="education__data bd-grid">
                                <h3 class="education__title">Data Science and Behavior Analysis</h3>
                                <span class="education__studies">UniCesumar</span>
                                <span class="education__year">2021 - 2023</span>
                            </div>
                        </div>

                    </div>
                </section>


                <!--========== EXPERIENCE ==========-->
                <section class="experience section" id="experience">
                    <h2 class="section-title">Experience</h2>

                    <div class="experience__container bd-grid">

<!--                        <div class="experience__content">-->
<!--                            <div class="experience__time">-->
<!--                                <span class="experience__rounder"></span>-->
<!--                                <span class="experience__line"></span>-->
<!--                            </div>-->

<!--                            <div class="experience__data bd-grid">-->
<!--                                <h3 class="experience__title">Data Scientist Jr</h3>-->
<!--                                <span class="experience__company">2021 - Current | Company</span>-->
<!--                                <p class="experience__descripition"> What I have done! My Results.</p>-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="experience__content">
                            <div class="experience__time">
                                <span class="experience__rounder"></span>
<!--                                <span class="experience__line"></span>-->
                            </div>

                            <div class="experience__data bd-grid">
                                <h3 class="experience__title"><a href="https://github.com/pauloreis-ds/olist/tree/main/sales_prediction"
                                                                 target="_blank" id="projeto_link">Sales Forecast.</a></h3>
                                <span class="experience__company"></span>
                                <p class="experience__descripition">
                                    Used a statistical analysis model to forecast company's next quarter sales and assist
                                    the financial sector setting operating budgets and projecting cash flows. The forecast
                                    error was reduced from 6.7% to 5.7% (about R$ 10,000 more accurate). And the predictions
                                    were delivered via Telegram Bot.</p>
                            </div>
                        </div>

                        <div class="experience__content">
                            <div class="experience__time">
                                <span class="experience__rounder"></span>
<!--                                <span class="experience__line"></span>-->
                            </div>

                            <div class="experience__data bd-grid">
                                <h3 class="experience__title"><a href="https://github.com/pauloreis-ds/ifood_marketing_campaign"
                                                                 target="_blank" id="projeto_link">Marketing Campaign.</a></h3>
                                <span class="experience__company"></span>
                                <p class="experience__descripition">
                                    Built a predictive model to maximize company's profit, using a Logistic Regression
                                    to identify potential customers for the next marketing campaign, that would have an
                                    increase in its ROI from -45% to 158% and a R$ 13,700 increase in next campaign revenue.</p>
                            </div>
                        </div>

                        <div class="experience__content">
                            <div class="experience__time">
                                <span class="experience__rounder"></span>
<!--                                <span class="experience__line"></span>-->
                            </div>

                            <div class="experience__data bd-grid">
                                <h3 class="experience__title"><a href="https://github.com/pauloreis-ds/olist/tree/main/business_questions_insights"
                                                                 target="_blank" id="projeto_link">Business Insights.</a></h3>
                                <span class="experience__company"></span>
                                <p class="experience__descripition">
                                    Used Postgres and Python to generate Insights and assist company’s decision makers,
                                    and PowerBI to develop a Dashboard about company's latest sales to be shared with
                                    Regional leads and their respective analysts.</p>
                            </div>
                        </div>

                    </div>
                </section>


                <!--========== CERTIFICATES ==========-->
                <section class="certificate section" id="certificates">
                    <h2 class="section-title">Certificates</h2>

                    <div class="certificate__container bd-grid">
                        <div class="certificate__content">
                            <h3 class="certificate__title">Microsoft Power BI For Data Science</h3>
                            <p class="certificate__description">
                                2021 |
                                <a href="https://www.datascienceacademy.com.br/home" target="_blank">
                                    Data Science Academy</a></p>
                        </div>

                        <div class="certificate__content">
                            <h3 class="certificate__title">Data Science in Production</h3>
                            <p class="certificate__description">
                                2020 |
                                <a href="https://www.linkedin.com/in/meigarom/" target="_blank">
                                    Meigarom Lopes</a>
                            </p>
                        </div>
                    </div>
                </section>


                <!--========== REFERENCES ==========-->
                <section class="references section" id="references">
                </section>


                <!--========== LANGUAGES ==========-->
                <section class="languages section">
                </section>


                <!--========== INTERESTS ==========-->
                <section class="interests section">
                </section>

            </div>
        </div>
    </main>

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class="bx bx-up-arrow-alt scrolltop__icon"></i>
    </a>


    <!--========== MAIN JS ==========-->
    <script src="../js/cv_js.js"></script>
</body>
</html>